.secondrybutton button {
  background-color: rgba(0, 0, 255, 0.7);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 6px;
}
.secondrybutton button:hover {
  box-shadow: 5px 3px 3px rgb(0, 0, 0);
}
